.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.mountains {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -4;
  transition: left 0.1s linear;
}

.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -3;
  animation: 5s stars, 20s stars-idle 5s infinite linear;
}

.ground {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  bottom: -3rem;
}

.trees {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: left 0.1s linear;
}

.credits {
  position: absolute;
  bottom: 1.2rem;
  right: 1rem;
  color: #006191;
  text-align: right;
  font-size: 0.9em;
  transition: color 0.2s;
  text-decoration: none;

  &:hover {
    color: #0071a9;
  }
}

@keyframes stars {
  0% {
    rotate: -4deg;
    opacity: 0;
  }
}

@keyframes stars-idle {
  0%, 100% {
    rotate: 0deg;
    opacity: 1;
  }

  50% {
    rotate: -4deg;
    opacity: 0.8;
  }
}
