.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.nav {
  font-family: 'Workbench', sans-serif;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  border-radius: 50px;
  border: 2px solid #434343;
  background-color: #2d2d2d;
  gap: 1.8rem;
  padding: 0.8rem 1.8rem;
}

.nav > a {
  color: #ededed;
  text-decoration: none;
  transition: color 0.2s;
}
.nav > a:hover {
  color: #f4d1d1;
}

.logo {
  font-family: 'Honk', system-ui;
  font-size: 1.8em;
  padding: 0 1rem;
}
